.nav {
    background: rgb(99,142,139);
    background: linear-gradient(90deg, rgba(99,142,139,1) 1%, rgba(44,108,101,1) 55%, rgba(63,86,124,1) 100%); 
    width: 30rem;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    color: #68f5e5;
    border: 1px double #aacbc7;
    box-shadow: 5px 5px 10px #aacbc7;
    gap: 10px;
    padding: 1rem;
   
    
}

.nav button {
    padding: 1rem;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    transition: box-shadow 0.5s;
     
}
.nav button:hover, button.active{
    color: #68f5e5;
    outline: 1px solid #68f5e5; 
    box-shadow: 5px 5px 10px #aacbc7;

}
