@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.App {
  height: 100vh;
  background: rgb(99, 142, 139);
  background: linear-gradient(90deg, rgba(99, 142, 139, 1) 1%, rgba(44, 108, 101, 1) 55%, rgba(63, 86, 124, 1) 100%);
  overflow-y: scroll;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}


.container{
  display: grid;
  grid-template-columns: 1fr 1fr ;
}